DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=3dprinthub.ir,www.3dprinthub.ir,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://3dprinthub.ir,https://www.3dprinthub.ir
DB_ENGINE=django.db.backends.mysql
DB_NAME=replace_database_name
DB_USER=replace_database_user
DB_PASSWORD=replace_database_password
DB_HOST=localhost
DB_PORT=3306
DB_CONN_MAX_AGE=60
STATIC_ROOT=/home/sfkilvrs/public_html/static
MEDIA_ROOT=/home/sfkilvrs/public_html/media
